@font-face {
    font-family: "Playfair Display";
    src: url("./PlayfairDisplay.woff"),
    url("./PlayfairDisplay.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("./Montserrat-Light.woff"),
    url("./Montserrat-Light.woff2");
    font-display: swap;
}